<!-- prettier-ignore -->
<%_
const menus = [ 
  { 
    name:"特長" ,
    path : `${path}/#` 
  }, 
  { 
    name:"お客様の声" ,
    path : `${path}/#` 
  }, 
  { 
    name:"ご利用料金" ,
    path : `${path}/#` 
  }, 
  { 
    name:"ご利用までの流れ" ,
    path : `${path}/#` 
  }, 
  { 
    name:"よくある質問" ,
    path : `${path}/#` 
  },
]; _%>




    <header class="p-header">
      <div class="p-header__inner">
        <h1 class="p-header__logo">
          <!-- <a href="<%= path %>/index.html">Logo</a> -->
          <a class="p-header__logo-link" href="<%= path %>/index.html">
            <img src="../assets/img/header-icon.webp" alt="" />
          </a>
        </h1>
        <div class="p-header__logo--contents">
          <nav class="p-header__nav">
            <%_ menus.forEach(menu => { _%>
            <div class="p-header__nav--item">
              <a class="p-header__link" href="<%= menu.path %>"><%= menu.name %></a>
            </div>
            <%_ }); _%>
          </nav>
          <div class="p-header__access">
            <div class="p-header__access--tel">
              <img class="p-header__access--tel-icon" src="../assets/img/header-tel.svg" alt="" />
              <div class="p-header__access--tel-number">03-1234-5678</div>
            </div>
            <div class="p-header__access--info">平日受付 9:00-17:00(祝日を除く)</div>
          </div>
          <div class="p-header__btns">
            <div class="p-header__btn">
              <a href="./#" class="c-header__btn c-header__btn--request"> 資料請求 </a>
            </div>
            <div class="p-header__btn">
              <a href="./#" class="c-header__btn c-header__btn--new"> 新規お申込 </a>
            </div>
            <button class="c-header__hamburger--button" id="js-drawer__btn" aria-label="ハンバーガーメニュー">
              <span class="drawer-bar"></span>
              <span class="drawer-bar"></span>
              <span class="drawer-bar"></span>
            </button>
          </div>

          <nav class="p-header__nav-drawer">
            <div class="p-header__nav-drawer--inner">
              <%_ menus.forEach(menu => { _%>
              <div class="p-header__nav-drawer--item">
                <a class="p-header__nav-drawer--link" href="<%= menu.path %>">
                  <div class="p-header__nav-drawer--text"><%= menu.name %></div>
                  <div class="p-header__nav-drawer--icon-arrow">
                    <img src="../assets/img/drawer-arrow.svg" alt="" />
                  </div>
                </a>
              </div>
              <%_ }); _%>

              <div class="p-footer__nav-drawer">
                <div class="p-footer__nav-drawer--inner">
                  <div class="p-footer__access">
                    <div class="p-footer__access--tel">
                      <img class="p-footer__access--tel-icon" src="../assets/img/footer-tel.svg" alt="" />
                      <div class="p-footer__access--tel-number">03-1234-5678</div>
                    </div>
                    <div class="p-footer__access--info">平日受付 9:00-17:00(祝日を除く)</div>
                  </div>
                  <div class="p-footer__btns">
                    <div class="p-footer__btn">
                      <a href="./#" class="c-footer__btn"> 資料請求 </a>
                    </div>
                    <div class="p-footer__btn">
                      <a href="./#" class="c-footer__btn"> 新規お申込 </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
