<!-- ////////header.php//////// -->
<!DOCTYPE html>
<html lang="ja">
  <!-- head -->
  <%- include("./parts/_head",{ path:".", }) -%>

  <body>
    <!-- header -->
    <%- include("./parts/_header",{ path:".", }) -%>
    <!-- ////////header.php//////// -->

    <main class="main">
      <!-- BackGround -->
      <%- include("./parts/_back-ground",{ path:".", }) -%>

      <!-- wrapper -->
      <div class="l-wrapper">
        <!-- ////////header.php//////// -->

        <!-- ////////sidebar.php//////// -->
        <!-- sidebar -->
        <%- include("./parts/_sidebar",{ path:".", }) -%>
        <!-- ////////sidebar.php//////// -->

        <!-- main-content -->
        <div class="l-main-content">
          <!-- work -->
          <%- include("./parts/_works",{ path:".", }) -%>
          <!-- about -->
          <%- include("./parts/_about",{ path:".", }) -%>
          <!-- skills -->
          <%- include("./parts/_skills",{ path:".", }) -%>
          <!-- contact -->
          <%- include("./parts/_contact-form",{ path:".", }) -%>
        </div>
      </div>
      <!-- ////////footer.php//////// -->
      <!-- footer -->
      <%- include("./parts/_footer",{ path:".", }) -%>
      <!-- to-top -->
      <%- include("./parts/_to-top",{ path:".", }) -%>
    </main>
    <!-- script-js -->
    <%- include("./parts/_script-js",{ path:".", }) -%>
  </body>
</html>
<!-- ////////footer.php//////// -->
