<!-- prettier-ignore -->
<%_
const works = [ 
  { 
    name : "みなみ歯科クリニック" ,
    img : "clinic.jpg",
    alt : "仮想の歯医者HP",
    skills : "HTML、Sass、jQuery、GitHub、WordPress",
    season : "2024年3月～5月",
    time : "約2ヶ月（113時間）",
    message : "スクール卒業課題です。FigmaカンプからHTMLサイト作成し、WordPress化しました。カスタム投稿・カスタムフィールドを実装しており、サイト所有者によるブログ投稿やスタッフ追加が可能となります。表示速度を意識した画像圧縮やプラグイン導入を実施しました。",
    link : "https://pumi-webcoder.com/"
  },
  {
    name : "本サイト（ポートフォリオサイト）",
    img : "Portfolio.jpg",
    alt : "本サイト（ポートフォリオサイト）",
    skills : "HTML、Sass、jQuery、GitHub、Gulp、EJS",
    season : "2023年3月～4月",
    time : "約2週間（40時間）",
    message : "一度BEMで作成しましたが、FLOCSS、EJSを学習し再構築しました。一番ご覧になっていただきたい「実績」セクションは、Swiperによるスライダーの実装にdialogタグによるモーダル表示を組み合わせました。",
    link : "./index.html"
  },
  {
    name : "仮想の子供向けクリニックLP（チーム開発）",
    img : "lp-team-h.png",
    alt : "仮想の子供向けクリニックLP（チーム開発）",
    skills : "HTML、SASS、jQuery、GitHub",
    season : "2023年12月～2月（コーディングは1ヶ月）",
    time : "約2週間（32時間）",
    message : "デザイナー2名、コーダー（私含め）3人で共同開発した架空クリニックのHPです。GitHubを用いて共同開発し私はヘッダーとアニメーションを担当しました。レスポンシブやアニメーションについても、MTGにて認識合わせしながら開発を進めました。",
    link : "./Lp-Team_H/index.html"
  },
  {
    name : "家具のレンタルサービスサイトLP",
    img : "Rich-Life.jpg",
    alt : "家具のレンタルサービスサイトLP",
    skills : "HTML、Sass、jQuery、GitHub",
    season : "2024年3月",
    time : "約2週間（33時間）",
    message : "デイトラが開催した実案件チャレンジ企画の作成物です。メガメニューやアコーディオンの実装を行いました。",
    link : "./RPC/index.html"
  },
  {
    name : "尾道キャンペーンのLP",
    img : "onomichi.jpg",
    alt : "尾道キャンペーンのLP",
    skills : "HTML、Sass、jQuery",
    season : "2023年11月",
    time : "2週間（38時間）",
    message : "スクール課題です。dialogタグやsummaryタグなど比較的新しい技術を取り入れながら実装しました。複数スライドの実装も行っております。",
    link : "./LP-Onomichi_campaign/index.html"
  },
  {
    name : "ﾎﾟｰﾄﾌｫﾘｵｻｲﾄ",
    img : "tokaniku.jpg",
    alt : "ﾎﾟｰﾄﾌｫﾘｵｻｲﾄ",
    skills : "HTML、Sass、jQuery",
    season : "2023年9月",
    time : "5日（28時間）",
    message : "スクール課題です。ライブラリswiperを使ってスライダーを実装しました。また、ドロワーメニュー、アコーディオンメニューの制御をjQueryで実装しました。",
    link : "./tokakuni/index.html"
  },
  {
    name : "ｱｸｾｻﾘｼｮｯﾌﾟのLP",
    img : "sobolon.jpg",
    alt : "ｱｸｾｻﾘｼｮｯﾌﾟのLP",
    skills : "HTML、Sass、jQuery",
    season : "2023年9月",
    time : "3日（23時間）",
    message : "スクール課題です。wowやdrawerのライブラリを使って実装しています。",
    link : "./soboron/index.html"
  }
];
_%>

<section id="works" class="l-section l-first-view p-section wow fadeInUp">
  <div class="l-inner">
    <hgroup class="p-section__title">
      <h2 class="p-section__title--main">Works</h2>
      <p class="p-section__title--sub">実績</p>
    </hgroup>

    <div class="p-section__contents swiper p-works__contents">
      <ul class="swiper-wrapper">
        <%_ works.forEach(work => { _%>
        <li class="swiper-slide">
          <div class="p-works__img c-img js-modal__btn--open">
            <img src="./assets/img/comp/<%= work.img %>" alt="<%= work.alt %>" />
          </div>
          <dialog class="dialog__wrapper" aria-label="Dialog Box">
            <div class="dialog__container">
              <div class="dialog__img">
                <img src="./assets/img/comp/<%= work.img %>" alt="<%= work.alt %>" />
              </div>
              <div class="dialog__text">
                <dl>
                  <dt>スキル</dt>
                  <dd><%= work.skills %></dd>
                  <dt>制作時期</dt>
                  <dd><%= work.season %></dd>
                  <dt>制作時間</dt>
                  <dd><%= work.time %></dd>
                  <dt>制作概要</dt>
                  <dd><%= work.message %></dd>
                </dl>
              </div>
            </div>
            <div class="p-modal__buttons">
              <a class="c-btn p-btn-modal js-modal__btn--link" href="<%= work.link %>" target="_blank">ページを見る </a>
              <form method="dialog">
                <button class="c-btn p-btn-modal js-modal__btn--close">閉じる</button>
              </form>
            </div>
          </dialog>
        </li>

        <%_ }); _%>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>

      <div class="p-works__explanation">
        <p>Basic認証を設定しております。<br />ユーザー名・パスワードともに<strong>『demo』</strong>となります。</p>
        <!-- <p>これまで制作したWebサイトです。また、当サイトも自ら制作していますので実績の一つとして御覧ください。</p> -->
      </div>
    </div>
  </div>
</section>
