<!DOCTYPE html>
<html lang="ja">
  <!-- head -->
  <%- include("./parts/_head",{ path:".", }) -%>

  <body>
    <!-- header -->
    <%- include("./parts/_header",{ path:".", }) -%>

    <main class="main">
      <!-- BackGround -->
      <%- include("./parts/_back-ground",{ path:".", }) -%>
      <!-- work -->
      <%- include("./parts/_works",{ path:".", }) -%>
      <!-- about -->
      <%- include("./parts/_about",{ path:".", }) -%>
      <!-- skills -->
      <%- include("./parts/_skills",{ path:".", }) -%>
      <!-- contact -->
      <%- include("./parts/_contact-form",{ path:".", }) -%>
      <!-- footer -->
      <%- include("./parts/_footer",{ path:".", }) -%>
      <!-- to-top -->
      <%- include("./parts/_to-top",{ path:".", }) -%>
    </main>
  </body>
</html>
