<!DOCTYPE html>
<html lang="ja">
  <!-- head -->
  <%- include("./parts/_head-contact",{ path:".", }) -%>

  <body>
    <!-- header -->
    <%- include("./parts/_header-policy",{ path:".", }) -%>

    <main class="main">
      <!-- BackGround -->
      <%- include("./parts/_back-ground",{ path:".", }) -%>
      <!-- headerの高さ分の余白を取る -->
      <div class="u-separeta--header"></div>
      <!-- contact -->
      <%- include("./parts/_privacy-policy",{ path:".", }) -%>
      <!-- contact-twitter -->
      <%- include("./parts/_contact-twitter",{ path:".", }) -%>
      <!-- footer -->
      <%- include("./parts/_footer",{ path:".", }) -%>
      <!-- to-top -->
      <%- include("./parts/_to-top",{ path:".", }) -%>
    </main>
  </body>
</html>
